{% comment %} <link rel="stylesheet" type="text/css" href="../../static/css/login.css">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
<header>
  <div class="title">    
      
          <a href="{% url 'home' %}" style="text-decoration: none;">
              Gesture Recognition System
          </a>
      
  </div>

  
      <div class="header-buttons">
          <a href="{% url 'signup' %}" class="signup-button">Sign Up</a>
      </div>
  
</header>
<div class="container">
	<div class="screen">
		<div class="screen__content">
      <form method="post" class="login">
        {% csrf_token %}
        {% comment %} <input type="hidden" name="csrfmiddlewaretoken" value="ScDNDLoo2R8MJlB65Ne7zeTScOYaW6zkBmvvp3t6b9A2rRV532CqSy6lvfAnw8Nw"> {% endcomment %}
        {% comment %} <div class="login__field">
          <!-- <i class="login__icon fas fa-user"></i> -->
            <!-- <label for="id_email">Email:</label> -->
            <input type="email" placeholder="Email" name="email" maxlength="320" required="" id="id_email" class="login__input" fdprocessedid="h1g7s">
        </div>
        <div class="login__field">
          <!-- <i class="login__icon fas fa-lock"></i> -->
          <!-- <label for="id_password">Password:</label> -->
          <input type="password" placeholder="Password" name="password" required="" id="id_password" fdprocessedid="co64zn" class="login__input">
          <i class="fas fa-eye toggle-password"></i>
          {% if error_message %}
          <div class="error">
            <p>{{ error_message }}</p>
          </div>
          {% endif %}
        </div>
        <p class="form__text"><a href="{% url 'password_reset_request' %}" class="form__link">Forgot Password?</a></p>
        <button type="submit" class="submit">
          <span class="button__text">
            Login
          </span> 
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      </form>
      <div class="form__text2">
        Not signed in? <a href="{% url 'signup' %}" class="form__link2">Sign Up</a>
      </div>
    </div>
    <div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>	
  </div>

</div>
<footer class="footer">
  <div class="containers">
    <div class="row">
      <div class="name">
        <p>Gesture Recognition System</p>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <ul class="list-unstyled">
            <li><h2 class="made-by">Made by:</h2></li>
            <li>Mohammad Ittehad Rahman Sami</li>
            <li>Maliha Zaman</li>
            <li>Tamim Afnan</li>
          </ul>
        </div>
      </div>
    </div>  
  </div>
</footer>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      const passwordField = document.querySelector('input[name="password"]');
      const confirmPasswordField = document.querySelector('input[name="confirm_password"]');
      const togglePassword = document.querySelectorAll('.toggle-password');

      togglePassword.forEach(function (element) {
          element.addEventListener('click', function () {
              if (element.previousElementSibling.type === 'password') {
                  element.previousElementSibling.type = 'text';
                  element.classList.remove('fa-eye');
                  element.classList.add('fa-eye-slash');
              } else {
                  element.previousElementSibling.type = 'password';
                  element.classList.remove('fa-eye-slash');
                  element.classList.add('fa-eye');
              }
          });
      });
  });
</script>