
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
  
</head>

<body>
    <form method="post" class="container">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="form__button">Login</button>
        {% if error_message %}
            <p class="form__message--error">{{ error_message }}</p>
        {% endif %}
        <p class="form__text"><a href="{% url 'password_reset_request' %}" class="form__link">Forgot Password?</a></p>
    </form>
    
</body>

</html>
