<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/start_backend.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
    <title>Email Sent</title>
</head>
<body>
    <h1 style="color: white;">Verification Email Sent</h1>
    <p style="color: white; text-align: center;">An email with a verification link has been sent to your email address. Please check your inbox and click the link to verify your email.</p>
</body>
</html>
