<!-- gestures.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Hand Gestures</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/gestures.css">
</head>
<body>
    <h1>Hand Gestures</h1>
    <div class="wrapper">
        <div class="main_card">
            <div class="card_left">
                <div class="card_datails">
                    <h1>Stop</h1>
                    <div class="card_cat">
                        <p class="PG">PG - 13</p>
                        
                    </div>
                    <p class="disc">Ethan Hunt and his IMF team, along with some familiar allies, race against time after a mission gone wrong.</p>
                    
                <div class="social-btn">

                    <!-- GET-->
                    <button>
                        <i class="fas fa-download"></i> DOWNLOAD
                    </button>
                    <!--BOOKMARK-->
                    <button>
                        <i class="fas fa-star"></i>
                    </button>
                </div>	
                </div>
            </div>
            <div class="card_right">
                <div class="Simulation">
                <video id="background-video">
                    <source src="{% static 'images/yay.mp4' %}" type="video/mp4">
                   
                  </video>
                </div>
                </div>
            </div>
        </div>
</body>
</html>
