{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Projects</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <div class="title">    
            <h1>
                <a href="#" style="text-decoration: none;">
                    Gesture Recognition
                </a>
            </h1>
        </div>
        {% if user %}
        <div class="header">
            Welcome, {{ user.username }}!
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        </div>

        <!-- Display additional user information here -->
        <p>Email: {{ user.email }}</p>
        <!-- Add more user information fields as needed -->

        {% else %}
            <div class="header-buttons">
                <a href="{% url 'login' %}" class="login-button">Login</a>
                <a href="{% url 'signup' %}" class="signup-button">Sign Up</a>
            </div>
        {% endif %}
        
    </header>
    <video src="../static/videos/background_video.mp4" muted loop autoplay style="width: 100%;"></video>
    <!-- <div class="content">
        <p>Welcome to our project. We're glad to have you here!</p>
    </div> -->
    <div class="backend">
        <div class="vid">
            <video src="../" controls></video>
        </div>
        <div class="card">

            <div class="desc">
                <p>Our website allows you to access a real-time practice session for basic gesture recognition. This increases people's knowledge by letting them explore different gestures and the meaning of those.</p>
            </div>
            <div class="backend_button">
                <a href="{% url 'start_backend' %}" class="start_backend">Sign detector</a>
            </div>
        </div>
    </div>
</body>
</html>
