<!DOCTYPE html>
<html>
<head>
    <title>Start Backend</title>
</head>
<header>
    <div class="title">    
        <h1>
            <a href="#" style="text-decoration: none;">
                Gesture Recognition
            </a>
        </h1>
    </div>
  
    
        <div class="header-buttons">
            <a href="{% url 'signup' %}" class="signup-button">Sign Up</a>
        </div>
    
  </header>
<body>
    
    <form method="post" action="{% url 'start_backend' %}">
        {% csrf_token %}
        <button type="submit">Start</button>
    </form>
</body>
</html>
