<!DOCTYPE html>
<html>
<head>
    <title>Simulation</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/start_backend.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
</head>
<header>
    <div class="title">    
        
            <a href="{% url 'home' %}" style="text-decoration: none;">
                Gesture Recognition System
            </a>
        
    </div>
    <!-- {% if user %}
    <div class="header">
        <i class="login__icon fas fa-user"></i> {{ user.username }}
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </div> -->
        <!-- Display additional user information here -->
        <!-- <p>Email: {{ user.email }}</p> -->
        <!-- Add more user information fields as needed -->
    <!-- {% else %}
        <div class="header-buttons">
            <a href="{% url 'login' %}" class="login-button">Login</a>
            <a href="{% url 'signup' %}" class="signup-button">Sign Up</a>
        </div>
    {% endif %} -->
  </header>
<body>
    <!-- <h1>Click to Start Backend</h1> -->
    <div class="container">
        <div class="screen">
            <div class="screen__content">
              {% comment %} <form method="post" action="{% url 'audio' %}">
                {% csrf_token %}
                <button type="submit" name="audio">Convert to Audio</button> {% endcomment %}
                <!-- Include other HTML elements for your page -->
            
                <!-- Display the 're' variable content -->
                <p>{{ gestures_output }}</p>
                <p>{{ gestures_output_bangla }}</p>
              {% comment %} </form> {% endcomment %}
              <div class="login__field">
                  <p class="text">Start Simulation</p>
                  
              </div>
                <form method="post" >
                    {% csrf_token %} 
                    {% comment %} <div class="output">
                      <p><pre>{{ gestures_output }}</pre></p> 
                    </div>
                    <p><pre>{{ gestures_output_bangla }}</pre></p>  {% endcomment %}
                    {% comment %} <button type="submit" name="audio" class="audio" action="{% url 'audio' %}">
                      <span class="button__text">
                          Audio
                      </span> 
                      <i class="button__icon fas fa-chevron-right"></i>
                      </button>  {% endcomment %}
                    <div class="Simulation">
                        <video src="../static/videos/simulation.mp4" muted loop autoplay></video>
                    </div>  
                    <button type="submit" name="start_button" class="submit" action="{% url 'start_backend' %}">
                    <span class="button__text">
                        Start
                    </span> 
                    <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </form>
        </div>
        <!-- <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>		
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div> -->
    </div>
    </div>
        <!-- <form method="post" action="{% url 'start_backend' %}">
            {% csrf_token %}
            <button type="submit">Start</button>
        </form> -->
        <!-- <div class="footer">
            <div className="container">
                <div className="bottom">
                  <div className="left">
                    <h1>Gesture Recognition</h1>
                  </div>
                  <div className="right">
                    
                  </div>
                </div>
              </div>
        </div> -->
        <footer class="footer">
            <div class="containers">
              <div class="row">
                <div class="name">
                  <p>Gesture Recognition System</p>
                </div>
                <div class="col-md">
                  <div class="ftco-footer-widget mb-4">
                    <ul class="list-unstyled">
                      <li><h2 class="made-by">Made by:</h2></li>
                      <li>Mohammad Ittehad Rahman Sami(S)</li>
                      <li>Maliha Zaman</li>
                      <li>Tamim Afnan</li>
                    </ul>
                  </div>
                </div>
              </div>  
            </div>
          </footer>
    </body>
</html>
